.profile-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.content-container {
    width: 80%;
    min-height: 100vh;
    margin-top: 75px;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-info-container {
    width: 100%;
    min-height: 20vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.profile-avatar {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: yellow; */
}

.change-avatar-label i {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    border-radius: 50%;
}

.change-avatar-label {
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    position: relative;
}

.change-avatar-label img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    object-fit: cover;
}

.profile-status {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: red; */
}
.profile-biodata {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-biodata h1 {
    font-size: 120%;
    color: var(--primary-color);
    font-weight: 500;
}

.profile-menu {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    /* background-color: #000; */
}

.profile-menu h1 {
    min-width: 150px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    background-color: var(--danger-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.profile-menu i {
    position: relative;
    height: 35px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--info-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.setting-control {
    /* width: 90px; */
    padding: 20px;
    height: 100px;
    /* background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)); */
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 0px;
    border-radius: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: auto;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.setting-control button {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-weight: 500;
}

.setting-control-hidden {
    display: none;
}

.product-title-container {
    margin-top: 25px;
    /* border-bottom: 3px solid var(--primary-color); */
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.product-title-container h1 {
    font-weight: 500;
    color: #000;
}

.product-title-container i {
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    justify-content: start;
    border-radius: 10px;
}

.form-add-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-add-container form {
    width: 30%;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 5%;
    overflow-y: scroll;

}

.form-add-container-hidden {
    display: none;
}

@media (max-width: 767px) {
    .content-container {
        width: 90%;
    }
    .profile-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-avatar {
        width: 100%;
        z-index: 999;
    }
    .profile-status {
        width: 100%;
        align-items: center;
        z-index: 999;
    }
    .profile-biodata {
        align-items: center;
        width: 100%;
    }
    .profile-menu {
        /* background-color: #000; */
        height: 100%;
    }
    .profile-menu i {
        z-index: 999;
    }
    .profile-menu h1 {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 20px;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    }
    .form-add-container form {
        width: 80%;
    }
}