.profile-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.content-container {
    width: 80%;
    min-height: 100vh;
    margin-top: 75px;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-info-container {
    width: 100%;
    min-height: 20vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.profile-avatar {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-avatar img {
    width: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    object-fit: cover;
}

.profile-status {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profile-biodata {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-biodata h1 {
    font-size: 120%;
    color: var(--primary-color);
    font-weight: 500;
}

.profile-menu {
    position: absolute;
    height: auto;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile-menu h1 {
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    background-color: var(--warning-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-menu i {
    color: #fff;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: var(--info-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product-title-container {
    margin-top: 25px;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.product-title-container h1 {
    font-weight: 400;
}

.product-title-container i {
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 20px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: start;
}

.form-add-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-add-container form {
    width: 60%;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 5%;
    overflow-y: scroll;

}

.form-add-container-hidden {
    display: none;
}

@media (max-width: 767px) {
    .content-container {
        width: 90%;
    }
    .profile-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-avatar {
        width: 100%;
    }
    .profile-status {
        width: 100%;
        align-items: center;
    }
    .profile-biodata {
        align-items: center;
        width: 100%;
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 20px;
        padding: 16px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .form-add-container form {
        width: 80%;
    }
}